<link rel="stylesheet" href="~/css/contatos.css" />


<main>

    <div class="container caixona">
        <h3 id="titContato">Contato</h3>
        <p>11 1234 5678</p>
        <p>Segunda à Sexta: 09h às 20h</p>
        <p>Sábado e feriados: 09h às 18h</p>
        <br>
        <br>
        <p>11 9876 5432</p>
        <p>Segunda à Sexta: 09h às 20h</p>
        <p>Sábado e feriados: 09h às 16h</p>
    </div>

</main>
