@{
    ViewData["Title"] = "CRUD";
}

<link rel="stylesheet" href="~/css/CRUDcss.css"/>

<div>
    <ul>
        <li>
            <a class="btn " asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
        </li>
        <li>
            <a class="btn btn-primary" asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a>
        </li>
        <li>
            <a class="btn btn-primary" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
        </li>
    </ul> 
</div>