@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />

<main>
    <div class="container">
        <div class="caixinha">
            <h3 class="titCaixinha">Sua viagem completa e com toda segurança</h3>
            <p class="pCaixinha">
                Na Recode Air você encontra pacotes com passagem aérea,
                hotel, passeios e serviços que garantem uma viagem mais tranquila!
                São milhares de opções de pacotes nacionais e internacionais,
                perfeitos para você!
            </p>
        </div>
        <div class="caixinha">
            <h3 class="titCaixinha">Tudo que precisa saber sobre seu destino!</h3>
            <p class="pCaixinha">
                As melhores atrações, passeios, documentação,
                dicas sobre onde ficar e restaurantes. Encontre aqui o que você
                quer saber sobre sua próxima viagem, inspire-se e planeje suas
                férias com a Recode Air!
            </p>
        </div>
        <div class="caixinha">
            <h3 class="titCaixinha">As melhores formas de pagamento estão aqui</h3>
            <p class="pCaixinha">
                Realize a viagem dos seus sonhos com condições que
                só a Recode Air oferece para você! Suas compras podem ser realizadas
                em até 10x sem juros, no cartão de crédito, transferência bancária ou à vista.
                Além de benefícios exclusivos que você pode encontrar numa loja Recode Air.
            </p>
        </div>
    </div>
</main>
